<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="./js/app.js"></script>
</head>
<body>
    {{> header}}
    <p>Use this application to get your weather</p>
    {{> footer}}
</body>
</html>